<div class="newaddress-ctn">
    <div class="address-group input-group clearfix">
        <label for="name">
            <i class="icon-stars"></i>收货人姓名：
        </label>
        <input id="name" name="name" type="text" sel-id="addr-text-name" class="input-text input-field" data-action="name" data-success="false" placeholder="请填写真实姓名">
        <p class="accout-error error-tips"></p>
    </div>
    <div class="address-group input-group clearfix">
        <label for="tel">
            <i class="icon-stars"></i>手机号码：
        </label>
        <input id="tel" name="tel" type="text" sel-id="addr-text-tel" class="input-text input-field" data-action="tel" data-success="false" placeholder="请输入手机号码">
        <p class="accout-error error-tips"></p>
    </div>
    <div class="address-group input-group clearfix">
        <label for="address">
            <i class="icon-stars"></i>收货地址：
        </label>
        <textarea id="address" name="address" rows="2" cols="60" sel-id="addr-text-address" data-action="addr" data-success="false" placeholder="请填写详细地址，确保准确送达"
            class="input-textarea input-field"></textarea>
        <p class="accout-error error-tips"></p>
    </div>
</div>
<div class="fixed-tips"></div>
